body {
  font-family: Arial, sans-serif;
  background-image: url('/Image/cuisine.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2% 20px;
  background-color: #1e88e5;
  color: white;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.user-menu {
  display: flex;
  align-items: center;
}

.user-menu span {
  margin-right: 10px;
}

.user-menu button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.chef-detail {
  padding: 20px;
}

.chef-detail h1 {
  margin-bottom: 10px;
  color: white;
}

.chef-detail h2 {
  margin-bottom: 20px;
}

h2 {
  color: white;
}



.dish-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.dish-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 200px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  background-color: white;
}

.dish-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.dish-info {
  padding: 10px;
}

.dish-info h3 {
  margin: 0;
  font-size: 1.2em;
}

.dish-info p {
  margin: 5px 0 0;
  color: #666;
}

.btn {
  padding: 5px 10px;
  background-color: #1e88e5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: white;
  border: 2px solid;
  color: #1e88e5;
  text-align: center;
}

.btn:active {
  opacity: 0.5;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.4);
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px;
  text-align: center;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cart {
  padding: 20px;
}

.dish-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.dish-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.dish-info h3 {
  margin: 0;
  font-size: 1.2em;
}

.dish-info p {
  margin: px 0 0;
  color: #666;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #424242;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background-color: white;
  border: 2px solid;
  color: #424242;
  text-align: center;
}

button:active {
  opacity: 0.5;
}

.clear-cart-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #42b983;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-cart-btn:hover {
  background-color: white;
  border: 2px solid;
  color: #42b983;
  text-align: center;
}

.chefs-list {
  padding: 50px;
}

.chef-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.chef-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 200px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  background-color: white;
}

.chef-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.chef-info {
  padding: 10px;
}

.chef-info h3 {
  margin: 0;
  font-size: 1.2em;
}

.chef-info p {
  margin: 5px 0 0;
  color: #666;
}

.view-detail-btn {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #424242;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.view-detail-btn:hover {
  background-color: white;
  border: 2px solid;
  color: #424242;
  text-align: center;
}

.view-detail-btn:active {
  opacity: 0.5;
}